.homepage {
  background-color: #13184e;
  min-height: 100vh;
  position: relative;
  .homepagevideo-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    img {
      max-width: 1101px;
      width: 100%;
    }
    .homepagevideobutton {
      position: absolute;
      bottom: -31px;
      right: 72px;
    }
  }

  .homepagetext-container {
    max-width: 1104px;
    // margin: 0 auto;
    left: 0;
    right: 0;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 1024px) {
      top: 110px;
      position: relative;
    }
    .homepage-title {
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 96px;
      line-height: 116px;
      letter-spacing: 0.09em; // 0.14
      color: #ffffff;
      max-width: 914px;
      display: flex;
      flex-direction: column;

      p {
        // display: inline-block;
        // align-items: center;
        text-align: center;
        display: inline-flex;
        gap: 46px;
        position: relative;
        top: -12px;
      }
      p:last-child {
        font-family: "Gilroy-light", sans-serif;
        font-weight: 300;
        font-size: 96px;
        line-height: 111px;
        letter-spacing: 0.14em;
        color: #d95234;
      }
    }
    .homepage-subtitle {
      font-family: "Gilroy-Medium";
      font-style: normal;
      font-size: 18px;
      line-height: 135%;
      max-width: 97px;
      color: #ffffff;
    }
  }
}
