.homepage {
  // min-height: 100vh;

  .title-section {
    // max-height: 1474px;
    height: 100%;
    position: relative;
    background-color: #13184e;
    .homepagevideo-container {
      width: 100%;
      // min-height: 800px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;
      z-index: 2;
      @media (max-width: 1024px) {
        margin-top: 145px;
      }
      img {
        max-width: 1101px;
        width: 100%;
      }
      .homepagevideobutton {
        position: absolute;
        bottom: -31px;
        right: 72px;
        @media (max-width: 960px) {
          bottom: 0;
          top: -31px;
          right: 50%;
          transform: translateX(50%);
        }
        @media (max-width: 768px) {
          height: 48px;
        }
      }
      .homepagevideo-backgroundtext {
        font-family: "gilroy-bold", sans-serif;
        font-size: 426.878px;
        line-height: 516px;
        color: #0f1345;
        // color: white;
        align-self: flex-end;
        // align-items: flex-end;
        position: absolute;
        z-index: -1;
        transform: translateY(40%);
        @media (max-width: 768px) {
          font-size: 300px;
        }
        @media (max-width: 480px) {
          font-size: 200px;
          line-height: 243px;
        }
        @media (max-width: 360px) {
          font-size: 150px;
          line-height: 150px;
        }
      }
    }

    .homepagetext-container {
      max-width: 1104px;
      // margin: 0 auto;
      left: 0;
      right: 0;
      padding: 0 24px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      min-height: 328px;
      position: absolute;
      z-index: 3;
      top: 380px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 1024px) {
        top: 110px;
        padding: 24px;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        min-height: 450px;
        justify-content: flex-start;
        gap: 27px;
      }
      @media (max-width: 480px) {
        flex-direction: row;
      }
      .homepage-title {
        font-family: "Gilroy-Bold", sans-serif;
        font-size: 96px;
        line-height: 116px;
        letter-spacing: 0.09em; // 0.14
        color: #ffffff;
        max-width: 914px;
        display: flex;
        flex-direction: column;

        p {
          // display: inline-block;
          // align-items: center;
          text-align: center;
          display: inline-flex;
          gap: 46px;
          position: relative;
          top: -12px;
          white-space: nowrap;
          @media (max-width: 960px) {
            top: 0;
          }
        }
        p:last-child {
          font-family: "Gilroy-light", sans-serif;
          font-weight: 300;
          font-size: 96px;
          line-height: 111px;
          letter-spacing: 0.14em;
          color: #d95234;
        }
      }
      .homepage-subtitle {
        font-family: "Gilroy-Medium";
        font-style: normal;
        font-size: 18px;
        line-height: 135%;
        max-width: 97px;
        color: #ffffff;
        @media (max-width: 960px) {
          font-size: 16px;
          max-width: 126px;
        }
      }
      .cpath {
        position: absolute;
        z-index: -1;
        top: 25%;
        left: -15%;
        @media (max-width: 1024px) {
          top: 0;
          left: unset;
          right: 0;
          height: 293px;
        }
      }
    }
    .homepage-bottom-text {
      margin-top: 200px;
      padding-bottom: 398px;
      @media (max-width: 1024px) {
        padding-bottom: 168px;
      }
      @media (max-width: 768px) {
        margin-top: 120px;
      }

      p {
        max-width: 717px;
        font-family: "Gilroy-Bold", sans-serif;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #ffffff;
        @media (max-width: 768px) {
          font-size: 32px;
          line-height: 34px;
        }
        @media (max-width: 480px) {
          font-size: 24px;
          line-height: 29px;
        }
      }
    }
  }
  .teams-section {
    position: relative;
    max-height: 1634px;
    &::before {
      content: "TEAMS";
      position: absolute;
      z-index: -1;
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 418px;
      line-height: 505px;
      text-transform: uppercase;
      color: #ececf3;
      transform-origin: bottom;
      transform: rotate(-90deg) translateX(-50%) translateY(-50%);
      bottom: 50px;
      left: 0;
      @media (max-width: 480px) {
        font-size: 250px;
        line-height: 302px;
        bottom: 30px;

        transform: rotate(-90deg) translateX(-50%) translateY(-60%);
      }
    }
    .home-race-slider {
      top: -10%;
      @media (max-width: 1024px) {
        top: 0%;
      }
    }
    .backtext {
      transform-origin: top left;
      position: absolute;
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 418px;
      line-height: 505px;
      text-transform: uppercase;
      color: #ececf3;
      transform: rotate(-90deg) translateY(-100%);
      bottom: 50px;
      left: 0;
      @media (max-width: 480px) {
        font-size: 250px;
        line-height: 302px;
        transform: rotate(-90deg) translateY(-120%);
      }
    }
  }
}
